
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff8c00;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    color: white;
    font-size: 36px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #e07b00;
    border-radius: 5px;
}


.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

.producto img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
}

.producto h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.producto p {
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

.producto span {
    font-size: 18px;
    font-weight: bold;
    color: #ff8c00;
    margin-top: 15px;
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
